.container {
    margin-top: 100px; 
  }
  
  .card {
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
     background-color: #FFD700;
  }
  
  .card-body {
    padding: 0.8rem;
  }
  
  .card-title a {
    font-weight: 600;
    color: #343a40;
  }
  
  .card-title a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  .card-text {
    color: #343a40;
  }
  
  .card-img-top {
    border-bottom: 1px solid  #A9A9A9;
  }
  .card-link{
    text-decoration: none;
  }
  
  .search-input{
    border-radius: 0.5rem; 
    transition: border-color 0.3s;
    border-color: #6c757d;
    color: #000000;
  }

  .search-input:focus{
    outline: none;
    box-shadow: none;
  }

  table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; 
  }
  
 
  th {
    background-color: #b22222;
    text-align: center;
    color: white;
    padding: 12px;
    /* border: 1px solid #dddddd; */
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  

  tr:nth-child(even) {
    background-color: #e8e8e8;
  }
  
  
  div[style*="overflow-y"] table {
    width: 100%;
    border-collapse: collapse; 
  }

  
div[style*="overflow-y: auto;"]::-webkit-scrollbar {
  width: 10px; 
}

div[style*="overflow-y: auto;"]::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
  border: 3px solid #e8e8e8; 
}

div[style*="overflow-y: auto;"]::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

div[style*="overflow-y: auto;"]::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 10px;
}

div[style*="overflow-y: auto;"]::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1; 
}

div[style*="overflow-y: auto;"]::-webkit-scrollbar-button {
  background-color: transparent;
}
 .serviceUrl{
  text-decoration: none;
  /* color: #343a40; */
 }